#ancora{
    -fx-background-image: url('/images/login.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-color: #BDBDBD;
}
#connect{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
#aia{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-color-label-visible: false;
}

@font-face{
    font-family: LucidaBlackLetter; /*a name to be used later*/
    src: url('/font/Aro.TTF'); /*URL to font*/
}


#rmi {
    -fx-font-family: 'LucidaBlackLetter';
}

#username{
    -fx-background-color: papayawhip;
    -fx-border-color: sandybrown;
    -fx-progress-color: black;
}
#password{
    -fx-background-color: papayawhip;
    -fx-border-color: sandybrown;
    -fx-progress-color: black;
}


#connessione{

    -fx-font-family: 'LucidaBlackLetter';
}

#cornicedestra{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

